* {
  margin: 1.6vh 0;
  font-family: 'Roboto Mono';
}

body {
  position: absolute;
  top: 16vh;
  left: 12vw;
  font-size: 4vh;
  background-color: #484c7f;
  color: #f1d4d4;
}

button {
  border: 0;
  padding: 0 3vh;
  line-height: 2.6vh;
  height: 3.8vh;
  font-size: 2.6vh;
  background-color: #f1d4d4;
  color: #484c7f;
  vertical-align: text-bottom;
}

:focus {
  box-shadow:
    0 0 0 3px #484c7f,
    0 0 0 6px #ac8daf;
  outline: none;
}

button:active {
  background-color: #ac8daf;
}
